<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KAI_Shagiachmetova.Properties.Settings.KAI_ZilyaConnectionString"
            connectionString="Data Source=DESKTOP-BLMHDHN\SQL;Initial Catalog=KAI_Zilya;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>